<p>
    Дана таблица всех доступных продуктов на складе. Данные представленны в виде {% if interpreter.slug == "js-node" %} массива объектов (array of objects){% else %}списка диктов (a list of dicts){% endif %}
</p>

<p>
    Your mission here is to find TOP most expensive goods. The amount we are looking for will be given as a first argument and the whole data as the second one
</p>

<p>
    Ваша миссия тут - это найти ТОП самых дорогих товаров. Количество товаров, которые мы ищем, будет переданно в первом аргументе, а сами данные по товарам будут переданны вторым аргументом.
</p>

{% if interpreter.slug == "js-node" %}
<p>
    <strong>Input: </strong>Число и массив объектов (Integer and array of objects). У каждого объекта 2 аттрибута "name" и "price"
</p>
{% else %}
<p>
    <strong>Input: </strong>Число и массив диктов (int and list of dicts). Каждый дикт имеет 2 ключа "name" и "price".
</p>
{% endif %}

<p>
    <strong>Output: </strong>Такой же как и второй аргумент.
</p>



<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">biggerPrice(2, [
    {"name": "bread", "price": 100},
    {"name": "wine", "price": 138},
    {"name": "meat", "price": 15},
    {"name": "water", "price": 1}
]) == [
    {"name": "wine", "price": 138},
    {"name": "bread", "price": 100}
]

biggerPrice(1, [
    {"name": "pen", "price": 5},
    {"name": "whiteboard", "price": 170}
]) == [{"name": "whiteboard", "price": 170}]
</pre>
{% else %}
<pre class="brush: python">bigger_price(2, [
    {"name": "bread", "price": 100},
    {"name": "wine", "price": 138},
    {"name": "meat", "price": 15},
    {"name": "water", "price": 1}
]) == [
    {"name": "wine", "price": 138},
    {"name": "bread", "price": 100}
]

bigger_price(1, [
    {"name": "pen", "price": 5},
    {"name": "whiteboard", "price": 170}
]) == [{"name": "whiteboard", "price": 170}]
</pre>
{% endif %}
</div>

